/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset */

/* grid setup */

html { font-size:100%; } 

body {
  font-family: 'Cutive Mono', serif;
  background: linear-gradient(black 20%, #b3b3b3 90%);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  padding-top: 110px;
}



/* Header Perfection */ 

header {
	background: black;
	height: 140px;
	width: 100%;
	position: fixed;
	top: 0;
}


#htop {
	height: 90px;
	float: left;
	background-color: black;
	width: 100%;
} 

.hlock {
	min-width: 700px;
}

#htop img {
	width: 101px;
	float: left;
}

#brand {
	float: left;
	width: 599px;
}

.container {
	max-width: 960px;
	background: #b3b3b3;
	margin: 0 auto;

}


.eighths {
	width: 8.125%;
	margin: 0% 1.458333333333% 0% 1.458333333333%;
	padding-top: 0.520833333333%; 
	padding-bottom: 0.416666666667%;
	padding-left: 0.520833333333%;
	padding-right: 0.520833333333%;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
	text-align: center;
	border-radius: 0.3125%;
	border: 1px solid gray;
}

/* FLUID */ 

@media only screen and (max-width: 900px) {

#navbar ul li {
	font-size: 9px;
}

}

@media only screen and (max-width: 600px){

	#navbar ul li {
font-size: 6px;
} 


.eighths {
	width: 7.825%;
	margin: 0% 1.458333333333% 0% 1.458333333333%;
	padding-top: 0.520833333333%; 
	padding-bottom: 0.416666666667%;
	padding-left: 0.520833333333%;
	padding-right: 0.520833333333%;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
	text-align: center;
	border-radius: 0.3125%;
	border: 1px solid gray;
}
	
}


/* End of FLUID */

#tagline {
	color: white;
	font-size: 15px;
	float: left;
	padding-left: 5px;
	line-height: 30px;
}

.mainnav li {
	font-size: 10px;
	text-transform: uppercase;
	font-family: 'fjalla one';
}

#navbar {
	width: 100%;
	background-color: #b3b3b3;
}

.clear{clear:both;}


/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



div .col {
	width: 20.833333333333%;
	margin: 1.041666666667%;
	padding: 1.041666666667%;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
	text-align: center;

}

div .half {
	width: 45.833333333333%;
	margin: 1.041666666667%;
	padding: 1.041666666667%;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
}

img, video, canvas {
  max-width: 100%;
}

/* Julian styles */



#hero {
margin-left: 10px;
margin-top: 10px;
}


h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	font-size: 45px;
  text-transform: uppercase;
    /*position: relative;*/
  line-height: 40px;
  padding-top: 16px;
}



h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	line-height: 32px;
	padding-bottom: 9px;
	text-align: left;

}


footer {
	background: black;
	height: 100px;
	width: 100%;
	color: white;
	padding-top: 30px;
}

*img {
	margin: 10px;
}


#snaker {
	float: right;
	padding-top: 27px;
}

#expendable {
	float: right;
	padding-top: 27px;
}

a {
	text-decoration: none;
	color: white;	
}

a:hover {
	text-decoration: underline;
}


/* Contact Form */

#contact-area {
	float: left;
	margin-left: 16px;
	width: 480px;
	background: black;
	color: white;
	padding: 10px;
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 4px;
}

#contact-area {
	width: 93.75%;
	margin-top: 25px;
}

textarea {
	width: 400px;
    height: 250px;
}

form {
	margin: 0 0 20px 0;
	padding: 20px;
}

input {
	border-radius: 4px;
}

input#name {
	margin-bottom: 10px;
}

input#message {
	display: block;
}

textarea {
	border-radius: 4px;
	width: 770px;
	height: 80px;
}

.coverart {
	float: left;
	margin: 0 12px 30px 12px;
}



/*.coverart:hover {
	width: 300px;
	height: 300px;
}*/

.release {
	margin-bottom: 30px;
	clear: both;
}

h4 {
	font-weight: bold;
	text-decoration: underline;
	display: inline;

}
