/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end css reset */

/* grid setup */


body {
  font-family: 'Cutive Mono', serif;
  background: linear-gradient(black 20%, #b3b3b3 90%);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}


.container {
	width: 960px;
	background: #b3b3b3;
	margin: 0 auto;
}

div .eighths {
	width: 78px;
	margin: 10px;
	padding: 10px;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
	text-align: center;
	border-radius: 3px;
	border: 1px solid gray;
}

div .col {
	width: 200px;
	margin: 10px;
	padding: 10px;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
	text-align: center;

}

div .half {
	width: 440px;
	margin: 10px;
	padding: 10px;
	background: #1A1A1C;
	float: left;
	color: #E7EBF2;
}

/* Julian styles */

header {
	background: black;
	height: 110px;
	width: 100%;
}

#hstyle {
	height: 105px;
	float: left;
} 

#hstyle img {
	width: 101px;
	float: left;
}

h1 {
	font-family: 'Fjalla One', sans-serif;
	color: white;
	font-size: 45px;
    text-transform: uppercase;
    position: relative;
    line-height: 40px;
    padding-top: 16px;
}

#tagline {
	color: white;
	font-size: 15px;
	float: left;
	padding-left: 5px;
}

.clear{clear:both;}


h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	line-height: 32px;
	padding-bottom: 9px;
	text-align: left;

}


footer {
	background: black;
	height: 100px;
	width: 100%;
	color: white;
	padding-top: 30px;
}

img {
	margin: 10px;
}

#snaker {
	float: right;
	padding-top: 27px;
}

#expendable {
	float: right;
	padding-top: 27px;
}

a {
	text-decoration: none;
	color: white;	
}

a:hover {
	text-decoration: underline;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* Contact Form */

#contact-area {
	float: left;
	margin-left: 30px;
	width: 480px;
	background: black;
	color: white;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

textarea {
	width: 500px;
    height: 250px;
}

